  @import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');


* {
  padding: 0;
  margin: 0 13% 0 11%;
  /*box-sizing: border-box;*/
}

html,
body {
  background-color: #464646;
}

.Logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
  margin-right: 10px;
}

.Logo {
  height: 500px;
}

.counter {
  margin-top: -80px;
  text-align  : center;
  background-color: black;
  font-size: 80px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.counter div {
  display: inline-block;
  line-height: 60px;
  background: #101010;
  font-family: 'Codystar', cursive;
  color: rgb(0, 255, 98);
  font-size: 80px;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
}

.Display {
  width: 80px;
}

.clock {
  color: rgb(0, 255, 98);
  width: 100px;
  margin-left: 0;
}